.btn-MainRed{
  display: inline;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
cursor:pointer;
}
.btn-MainRed:hover{
  color: white;
  background-color: red;
  border: 0px;
}


.btn-MainYellow{
  display: inline;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
cursor:pointer;
}
.btn-MainYellow:hover{
  color: white;
  background-color: yellow;
  border: 0px;
}
